body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
    color: #1a73e8;
}

.oamk-info {
    margin-top: 40px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.oamk-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.oamk-info p {
    font-size: 1.2rem;
}
